html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    scroll-behavior: smooth;
}

/* Main Section */

h1 {
    
}
.marcos {
    font-family: 'Gochi Hand', cursive;
    color: rgb(139, 138, 138);
    font-size: 400%;
}
.marcos2 {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 120%;

}
#nav1 {
    background-color: #FFFFFF;
    padding: 1%;
    font-size: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    font-size: 90%;
    
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 20%;

}

#h3s {
    font-family: 'Baloo Tamma 2', cursive;
    color: rgb(143, 143, 143);
    font-size: 150%;
    

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(110, 108, 108);
    font-size: 10%;
    width: 80%;
    margin: 0% auto 0% auto;

}
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30%;
    color: rgb(201, 201, 201);
    padding: 1%;
}

p {
    font-family: sans-serif;
    color: rgb(122, 122, 122);
    width: 40%;
    margin: 0% auto 0% auto;
    line-height: 2;
    font-size: 90%;
    height: auto;
    padding: 1%;
}
section {
    background: url(../Images/8.jpg) fixed center center no-repeat;
    display: table;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-size: auto;
    text-align: center;
    padding: 0%;
}

#gradient {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#top1 {
    padding-top: 3%;
}
 
ul {
    font-size: 90%;
    padding: 2%;
    text-align: center;
    color: darkgray;
}
.landingText {
    
    text-align: center;
    vertical-align: middle;
}

#h41 {
    font-size: 110%;
}
#imgs {
    width: 15%;
    height: auto;
  
}
#imgs2 {
    width: 15%;
    height: auto;
 
}




#conts {
    padding: 0%;
    
    
}

#but1 {
    margin: 1%;
}

#button {
    text-decoration: none;
    margin: 2%;
}

#link2 {
    text-decoration: none;
    color: #8e928d;
    
    
}link2:active {
    color:#9b999b;
}link2:visited {
    color: #939695;
}link2:hover {
    color: #bebebe;
 }
 #footer {
     padding: 1%;
     background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
     text-align: center;
 }
#social {
    font-family: 'Baloo Tamma 2', cursive;
    color: rgb(197, 197, 197);
    font-size: 90%;
    text-decoration: none;
    padding: 1%;
    
    
}

#message {
    font-size: 70%;
    padding: 1%;
    width: 80%;
    margin: 0% auto 1% auto;
}

#icon {
    color: rgb(199, 197, 197);
    text-align: center;
   
}

 #copy {
     font-size: 60%;
     color: rgb(189, 189, 189);
     
 }

.container-fluid {
    text-align: center;
    line-height: 2;
}

hr {
    width: 10%;
    padding: 2%;
   
    
}
.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    color: rgb(204, 199, 199);
}

#btn {
    margin: 20px auto 30px;
        -moz-box-shadow:inset 0px 1px 0px 0px #e9f2f2;
        -webkit-box-shadow:inset 0px 1px 0px 0px #e9f2f2;
        box-shadow:inset 0px 1px 0px 0px #e9f2f2;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d0ede8), color-stop(1, #b2b4b4) );
        background:-moz-linear-gradient( center top, #a7a8a8 5%, #e2e4e3 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0ede8', endColorstr='#a7a8a8');
        background-color:#888888;
        -webkit-border-top-left-radius:5px;
        -moz-border-radius-topleft:5px;
        border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius-topright:5px;
        border-top-right-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        -moz-border-radius-bottomright:5px;
        border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-bottomleft:5px;
        border-bottom-left-radius:5px;
    text-indent:0;
        display:inline-block;
        color:#8c8d8d;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
    height:50px;
        line-height:50px;
    width:140px;
        text-decoration:none;
        text-align:center;
        text-shadow:0px 1px 0px #aeb1b1;
    }
    #btn:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c0c2c2), color-stop(1, #d0ede8) );
        background:-moz-linear-gradient( center top, #adadad 5%, #d0ede8 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7a8a8', endColorstr='#d0ede8');
        background-color:#969797;
   